<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css?family=Italiana" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
  <link rel="stylesheet" href="/styles/static.css">
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/skyline-svg.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/medium.css">
  <link rel="stylesheet" href="/styles/small.css">
</head>
<body>
  <div class='container'>
    <div class="splash section">
      <div class='header'>
        <img src="/images/web-logo-black.png" alt="">
      </div>
      <div class="gallery">
        <div class="image-column">
          <div class="gal-image image-1-2 rsvp-image">
            <div class='hover-container'>
              <div class="tint"></div>
              <div class='hover-content'>
                  <h1>RSVP</h1>
              </div>
            </div>
          </div>
          <div class="gal-image image-1-2 reg-image">
            <div class='hover-container'>
              <div class="tint"></div>
              <div class='hover-content flex-center'>
                  <img id='zola-text' src="/images/zola-text.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="image-column">
          <div class="gal-image image-1-1 cer-image">
            <div class='hover-container'>
              <div class="tint"></div>
              <div class='hover-content'>
                  <h1>OUR I DO'S</h1>
              </div>
            </div>
          </div>
        </div>
        <div class="image-column">
          <div class="gal-image image-1-2 rec-image">
            <div class='hover-container'>
              <div class="tint"></div>
              <div class='hover-content flex-rows flex-center'>
                  <h1>RECEPTION</h1>
                  <img id='milling-logo' src="/images/milling-room-logo.png" alt="">
              </div>
            </div>
          </div>
          <div class="gal-image image-1-2 hotel-image">
            <div class='hover-container'>
              <div class="tint"></div>
              <div class='hover-content flex-center'>
                  <h1>STAY</h1>
                  <img src="/images/ben-logo.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="where section text-section">
      <div class="inner">
          <h1>Where</h1>
          <div class='inner-section'>
            <h2>Our I Do's</h2>
            <p>The ceremony will be at Corpus Christi Church</p>
            <p>155 Garfield Ave, Mineola, NY</p>
            <p>1:30 pm</p>
          </div>
          <img class='skyline-break' src="/svg/skyline.svg" alt="">
          <div class='inner-section'>
            <h2>Reception</h2>
            <img src="/images/milling-text-logo-black.png" alt="">
            <p>446 Columbus Ave, New York, NY</p>
            <p>Located just northwest of the Museuem of Natural History</p>
            <p>6 pm</p>
          </div>
      </div>
    </div>
    <div class="hotel section text-section">
      <div class="inner">
        <h1>Stay</h1>
        <div class="inner-section">
          <p>Coming Soon</p>
        </div>
      </div>
    </div>
    <div class="to-dos section text-section">
      <div class="inner">
        <h1>Your To Do's</h1>
        <div class="to-do-container">
          <div class='inner-section'>
            <h2>RSVP</h2>
            <p>Coming Soon</p>
          </div>
          <div class='inner-section'>
            <h2>Registry</h2>
            <img src="/images/zola-logo-black.png" alt="">
          </div>
        </div>  
      </div>
    </div>
    <div class="footer">
      footer
    </div>
  </div>
</body>
</html>